#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

/ {
    macros {
        // Accented vowels via Compose key (Menu) + grave + letter.
        // Requires: Linux → setxkbmap -option compose:menu
        //           Windows → WinCompose configured with Menu key
        // Colemak remapping: physical K=e, L=i, ;=o, A=a, I=u

        e: e_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp K_APP &kp GRAVE &kp K>;
            label = "E_GRAVE";
        };

        i: i_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp K_APP &kp GRAVE &kp L>;
            label = "I_GRAVE";
        };

        o: o_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp K_APP &kp GRAVE &kp SEMI>;
            label = "O_GRAVE";
        };

        a: a_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp K_APP &kp GRAVE &kp A>;
            label = "A_GRAVE";
        };

        u: u_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp K_APP &kp GRAVE &kp I>;
            label = "U_GRAVE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
&kp GRAVE       &kp N1    &kp N2        &kp N3        &kp N4       &kp N5                             &kp N6     &kp N7  &kp N8     &kp N9   &kp N0         &kp BSPC
&kp TAB         &kp Q     &kp W         &kp E         &kp R        &kp T                              &kp Y      &kp U   &kp I      &kp O    &kp P          &kp DEL
&kp ESC         &kp A     &kp S         &kp D         &kp F        &kp G                              &kp H      &kp J   &kp K      &kp L    &kp SEMI       &kp SQT
&kp LEFT_SHIFT  &kp Z     &kp X         &kp C         &kp V        &kp B        &tog 4     &tog 4     &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH       &kp RIGHT_SHIFT
&kp LCTRL       &kp RALT  &kp LEFT_WIN  &kp LEFT_ALT  &lt 3 SPACE  &lt 2 SPACE  &kp SPACE  &lt 7 RET  &lt 1 RET                              &kp RIGHT_ALT  &kp RCTRL
            >;
        };

        number_layer {
            bindings = <
&trans  &kp N1    &kp N2        &kp N3     &kp N4  &kp N5                  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &trans    &kp UP_ARROW  &trans     &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans  &trans                  &trans  &kp H   &kp J   &kp K   &kp L   &trans
&trans  &trans    &trans        &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans        &trans     &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;

            label = "NUM";
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &kp CARET       &kp AMPERSAND  &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS  &trans
&out OUT_TOG  &trans        &trans        &trans        &trans        &trans                        &trans          &trans         &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans                 &trans
&trans        &trans        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans                        &kp MINUS       &kp EQUAL      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH          &trans
&trans        &trans        &trans        &trans        &trans        &trans        &trans  &trans  &kp UNDERSCORE  &kp PLUS       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans                 &trans
&trans        &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans                                                                      &trans                 &trans
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&trans  &trans  &trans   &trans   &trans   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans   &trans   &trans   &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&to 0   &to 0     &to 0     &to 0   &to 0      &to 0                   &trans         &trans     &trans  &trans     &trans     &trans
&trans  &trans    &trans    &trans  &trans     &trans                  &trans         &trans     &trans  &trans     &trans     &trans
&trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans                  &kp PAGE_UP    &mkp LCLK  &mo 5   &mkp RCLK  &mkp MCLK  &trans
&trans  &trans    &trans    &trans  &trans     &trans  &trans  &trans  &kp PAGE_DOWN  &trans     &trans  &trans     &trans     &trans
&trans  &trans    &trans    &trans  &mo 6      &mo 6   &mo 6   &mo 6   &mo 6                                        &trans     &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };

        accent {
            label = "accent";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &u      &trans  &trans  &trans
&trans  &a      &trans  &trans  &trans  &trans                  &trans  &trans  &e      &i      &o      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };
    };
};
